@{
    ViewBag.Title = "Logged out";
}

<div class="form-container">
    <fieldset>
        <section>
            <div class="center-content">
                @UIMessages.LoggedOut
            </div>
        </section>
    </fieldset>
</div>