<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Product Id="*"
           Name="Lithnet Access Manager Agent"
           Language="1033"
           Version="!(bind.FileVersion.fil3987E121A3A70C205563BED810BAE670)"
           Manufacturer="Lithnet"
           UpgradeCode="7c16b7c4-701f-4ef3-8361-e663d8d83a1f">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      InstallPrivileges="elevated"
      Manufacturer="Lithnet"
      Platform="x86" />

    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />
    <MajorUpgrade Schedule="afterInstallExecute" DowngradeErrorMessage="A later version of [ProductName] is already installed" AllowSameVersionUpgrades="yes" />
    <Property Id="SERVICE_NAME" Secure="yes" Value="lithnetama"/>

    <Feature Id="ProductFeature" Title="Lithnet Access Manager Agent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="LithnetFolder" Name="Lithnet">
          <Directory Id="AccessManagerFolder" Name="Access Manager">
            <Directory Id="INSTALLFOLDER" Name="Agent" >
              <Directory Id="LOGSDIR" Name ="Logs"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="SourceComponentGroup" />
  
      <Component Id="cmp4A27C5DDEBACC29F532353FBAA10BADA" Guid="*">
        <File Id="fil3987E121A3A70C205563BED810BAE670" KeyPath="yes" Source="SourceDir\Lithnet.AccessManager.Agent.exe" />
        <ServiceInstall Id="svcA61CBF9FB13D4C1F8562660BC80A91AB"
                               DisplayName="Lithnet Access Manager Agent"
                               Name="[SERVICE_NAME]"
                               ErrorControl="normal"
                               Start="auto"
                               Type="ownProcess"
                               Description="Lithnet Access Manager agent for manging local admin password and JIT access"
                               Vital="yes"
                               Interactive="no">
        </ServiceInstall>
        <util:EventSource Log="Lithnet Access Manager" Name="Agent" EventMessageFile="%systemroot%\system32\mscoree.dll"/>

        <ServiceControl Id="ServiceControlEvents" Name="[SERVICE_NAME]" Stop="both" Remove="uninstall" Wait="yes" Start="install"/>
      </Component>
    </ComponentGroup>
  </Product>
</Wix>
