<?xml version="1.0"?>
<lithnet-laps>
  <!--<authentication mode="iwa">
    <openidconnect clientid="bla" secret="bla" redirectUri="bla" authority="bla"/>
    <wsfed realm="bla" metadata="bla"/>
    <windowsauth/>
  </authentication>-->

  <audit emailOnSuccess="true" emailOnFailure="true" emailAddresses="laps-admins@dev1.local" userSuppliedReason="Optional"/>
  <rate-limit-ip enabled="true" requestsPerMinute="5" requestsPerHour="50" requestsPerDay="100" rateLimitOnXffIP="false" />
  <rate-limit-user enabled="true" requestsPerMinute="5" requestsPerHour="50" requestsPerDay="100" />

  <!--<user-interface>
    <branding title="Lithnet LAPS Web App"/>
    <reasons required="true" requested="true" allowCustom="true">
      <custom-reasons>
        <custom-reason description="Troubleshooting"/>
        <custom-reason description="Software installation"/>
        <custom-reason description="Offline access"/>
      </custom-reasons>
    </reasons>
  </user-interface>-->

  <targets>
    <target name="idm-d1nps1-v02" type="Computer" expire-after="02:00:00">
      <readers>
        <reader principal="fim-dev1\Domain admins"/>
      </readers>
    </target>

    <target name="DC=fim-dev1,dc=local" type="Container" expire-after="02:00:00">
      <audit emailOnSuccess="true" emailOnFailure="true" emailAddresses="server-admins@dev1.local" />
      <readers>
        <reader principal="Test-Laps-Group-12" />
        <reader principal="fim-dev1\Test-Laps-Group-2" />
        <reader principal="fim-dev1\mgr-rnewing" />
      </readers>
    </target>
  </targets>
</lithnet-laps>

<!--<add key="owin:appStartup" value="Lithnet.Laps.Web.Startup.ConfigureOpenIDConnect" />
  <add key="oidc:ClientId" value="0oafor0ol5sl3NVfx0h7" />
  <add key="oidc:RedirectUri" value="https://localhost:44338/" />
  <add key="oidc:Authority" value="https://dev-168813.oktapreview.com" />-->

<!--<add key="owin:appStartup" value="Lithnet.Laps.Web.Startup.ConfigureOpenIDConnect" />
  <add key="oidc:ClientId" value="c3ba753a-2b99-4b0f-9470-bd5fd07be41e" />
  <add key="oidc:RedirectUri" value="https://localhost:44338/" />
  <add key="oidc:Authority" value="https://login.microsoftonline.com/lithnet.io" />-->

<!--<add key="owin:appStartup" value="Lithnet.Laps.Web.Startup.ConfigureWsFederation" />
  <add key="ida:wtrealm" value="https://localhost:44338" />
  <add key="ida:metadata" value="https://login.lithnet.edu/FederationMetadata/2007-06/FederationMetadata.xml" />-->

<!--
    <add key="ida:wtrealm" value="urn:okta:app:exkfhjcezdZ9OniOI0h7" />
    <add key="ida:metadata" value="https://lithnet.oktapreview.com/FederationMetadata/2007-06/exkfhjcezdZ9OniOI0h7/FederationMetadata.xml" />
  -->