<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- See the wiki page https://github.com/lithnet/laps-web/wiki/Configuration-settings for help configuring this application -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <section name="lithnet-laps" type="Lithnet.Laps.Web.LapsConfigSection" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <unity>
    <container>
      <register type="Lithnet.Laps.Web.Security.Authorization.IAuthorizationService, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.Security.Authorization.ConfigurationFile.ConfigurationFileAuthorizationService, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.Models.IDirectory, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.ActiveDirectory.ActiveDirectory, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.Security.Authentication.IAuthenticationService, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.Security.Authentication.AuthenticationService, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.Security.Authorization.IAvailableTargets, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.Security.Authorization.AvailableTargets, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.Security.Authorization.ConfigurationFile.IAvailableReaders, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.Security.Authorization.ConfigurationFile.AvailableReaders, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.Audit.IReporting, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.Audit.Reporting, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.Audit.ITemplates, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.Audit.TemplatesFromFiles, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.IRateLimiter, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.RateLimiter, Lithnet.Laps.Web" />
      <register type="Lithnet.Laps.Web.Mail.IMailer, Lithnet.Laps.Web" mapTo="Lithnet.Laps.Web.Mail.SmtpMailer, Lithnet.Laps.Web" />
    </container>
  </unity>
  <!--
      Run the following PowerShell command to enable event logs. You may need to reboot the computer for events to appear.
      
      New-EventLog -Logname Application -Source LAPSWeb
      -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="laps-eventlog" xsi:type="EventLog" source="LAPSWeb" log="Application" layout="${message}${newline}${exception:format=ToString}" eventId="${event-properties:EventID:whenEmpty=1}" />
      <target name="laps-file" xsi:type="File" fileName="app_data/logs/lapsweb.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" concurrentWrites="true" layout="${longdate}|${level:uppercase=true:padding=5}|${message} ${exception:format=ToString}" />
    </targets>
    <rules>
      <logger minlevel="Info" writeTo="laps-eventlog" name="*" />
      <logger minlevel="Trace" writeTo="laps-file" name="*" />
    </rules>
  </nlog>
  <appSettings file="secrets.config">
    <!-- *** Windows auth configuration *** -->
    <!-- Ensure that you configure IIS to use *Windows Authentication* and disable Anonymous Authentication -->
    <add key="owin:appStartup" value="Lithnet.Laps.Web.Startup.ConfigureWindowsAuth" />
    <!-- *** OpenID Connect configuration *** -->
    <!-- Ensure that you configure IIS to use *Anonymous Authentication* and disable Windows Authentication -->
    <!--
    <add key="owin:appStartup" value="Lithnet.Laps.Web.Startup.ConfigureOpenIDConnect" />
    <add key="oidc:ClientId" value="-client id-" />
    <add key="oidc:ClientSecret" value="-client secret-" />
    <add key="oidc:RedirectUri" value="http://localhost:64630/" />
    <add key="oidc:Authority" value="https://lithnet.okta.com" />
    <add key="oidc:PostLogoutRedirectUri" value="http://localhost:64630/" />
    -->
    <!-- *** WS-Federation/ADFS configuration *** -->
    <!-- Ensure that you configure IIS to use *Anonymous Authentication* and disable Windows Authentication -->
    <!--
    <add key="owin:appStartup" value="Lithnet.Laps.Web.Startup.ConfigureWsFederation" />
    <add key="ida:wtrealm" value="https://localhost:44338/" />
    <add key="ida:metadata" value="https://adfs.lithnet.io/FederationMetadata/2007-06/FederationMetadata.xml" />
    -->
    <add key="app:Title" value="Local Admin Password Solution" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!-- Uncomment this section to enable email sending -->
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="laps@myorg.com">
        <network host="smtp.myorg.com" port="25" defaultCredentials="false" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <lithnet-laps>
    <audit emailOnSuccess="true" emailOnFailure="true" emailAddresses="laps-admins@dev1.local" userSuppliedReason="Requested"/>
    <rate-limit-ip enabled="true" requestsPerMinute="5" requestsPerHour="50" requestsPerDay="100" rateLimitOnXffIP="false" />
    <rate-limit-user enabled="true" requestsPerMinute="5" requestsPerHour="50" requestsPerDay="100" />
    <targets>
      <target name="idm-d1nps1-v02" type="Computer" expire-after="02:00:00">
        <readers>
          <reader principal="fim-dev1\mgr-rnewing"/>
        </readers>
      </target>
     
      <!--<target name="DC=fim-dev1,dc=local" type="Container" expire-after="02:00:00">
        <audit emailOnSuccess="true" emailOnFailure="true" emailAddresses="server-admins@dev1.local" />
        <readers>
          <reader principal="Test-Laps-Group-12" />
          <reader principal="fim-dev1\Test-Laps-Group-2" />
          <reader principal="fim-dev1\mgr-rnewing" />
        </readers>
      </target>-->
    </targets>
  </lithnet-laps>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules />
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; font-src 'self';" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff" />
    </staticContent>
    <modules />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.WsFederation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens.Saml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>