@{
    ViewBag.Title = "Error";
}

@model Lithnet.AccessManager.Service.Models.ErrorModel

<div class="form-container">
    <div class="form-content-header">
        @Model.Heading
    </div>
    <div class="form-content">
        <div class="alert alert-danger">
            @Model.Message
        </div>
    </div>
</div>