<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="${basedir}/logs/nlog.log" internalLogLevel="Debug">
  <targets>
    <!--<target name="laps-eventlog" xsi:type="EventLog" source="LAPSWeb" log="Application" layout="${message}${newline}${exception:format=ToString}" eventId="${event-properties:EventID:whenEmpty=1}" />-->
    <target name="laps-file" xsi:type="File" fileName="logs/lapsweb.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" concurrentWrites="true" layout="${longdate}|${level:uppercase=true:padding=5}|${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <!--<logger minlevel="Info" writeTo="laps-eventlog" name="Lithnet.*" />-->
    <logger minlevel="Trace" writeTo="laps-file" name="*" />
  </rules>
</nlog>