@{
    ViewBag.Title = "Authentication failed";
}

<div class="form-container">
    <fieldset>
        <section>
            <b class="error">
                <i class="fas fa-exclamation-circle"></i> @UIMessages.AuthNError
            </b>
        </section>
        <section>
            <p class="text-center">@ViewContext.HttpContext.Request.Query["message"]</p>
        </section>
    </fieldset>
</div>