<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <TextStyle Id="WixUI_Font_Large_Red" FaceName="Tahoma" Size="9" Red="255" />

      <Dialog Id="ServiceDetailsDialog" Width="370" Height="270" Title="Service account">
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Specify the service account" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Service account" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
        <Control Id="SvcAccountLabel" Type="Text" X="14" Y="58" Width="98" Height="40" TabSkip="no" Text="Service account (domain\username or username@domain)" />
        <Control Id="SvcAccountEdit" Type="Edit" X="117" Y="73" Width="220" Height="15" Property="SERVICE_USERNAME" />
        <Control Id="PasswdLabel" Type="Text" X="14" Y="98" Width="90" Height="15" TabSkip="no" Text="Password:" RightAligned="yes" />
        <Control Id="PasswdEdit" Type="Edit" X="117" Y="98" Width="220" Height="15" Property="SERVICE_PASSWORD" Text="{80}" Password="yes"></Control>
        <Control Id="ConfirmPasswdLabel" Type="Text" X="14" Y="117" Width="90" Height="15" TabSkip="no" Text="Confirm Password:" RightAligned="yes" />
        <Control Id="ConfirmPasswdEdit" Type="Edit" X="117" Y="117" Width="220" Height="15" Property="PASSWD_CONFIRM" Text="{80}" Password="yes"></Control>
        <Control Id="PasswordsMatchLabel" Type="Text" X="117" Y="130" Width="220" Height="18" Text="{\WixUI_Font_Large_Red}Passwords do not match">
          <Condition Action="hide">(PASSWORD_COMPARE = "1")</Condition>
          <Condition Action="show">(PASSWORD_COMPARE = "2")</Condition>
          <Condition Action="hide">(PASSWORD_COMPARE = "3")</Condition>
        </Control>
        <Control Id="PasswordsRequiredLabel" Type="Text" X="117" Y="130" Width="220" Height="18" Text="{\WixUI_Font_Large_Red}Password fields required">
          <Condition Action="hide">(PASSWORD_COMPARE = "1")</Condition>
          <Condition Action="hide">(PASSWORD_COMPARE = "2")</Condition>
          <Condition Action="show">(PASSWORD_COMPARE = "3")</Condition>
        </Control>
        <Control Id="WarningLabel" Type="Text" X="117" Y="150" Width="220" Height="25" TabSkip="no" Text="Warning: The credentials will not be verified by the installer. Ensure the provided credentials are correct" />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Property="PASSWORD_COMPARE" Value="1" Order="1"><![CDATA[ (SERVICE_PASSWORD = PASSWD_CONFIRM) ]]></Publish>
          <Publish Property="PASSWORD_COMPARE" Value="2" Order="2"><![CDATA[ (SERVICE_PASSWORD <> PASSWD_CONFIRM) ]]></Publish>
          <Publish Property="PASSWORD_COMPARE" Value="3" Order="3"><![CDATA[ (SERVICE_PASSWORD = "" AND PASSWD_CONFIRM = "") ]]></Publish>

        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

    </UI>
  </Fragment>
</Wix>