<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="access-manager-service" xsi:type="File" fileName="logs/access-manager-service.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" concurrentWrites="true" layout="${longdate}|${level:uppercase=true:padding=5}|${logger}|${message}${onexception:inner=${newline}${exception:format=ToString}}" />
    <target name="access-manager-jitworker" xsi:type="File" fileName="logs/access-manager-jitworker.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" concurrentWrites="true" layout="${longdate}|${level:uppercase=true:padding=5}|${logger}|${message}${onexception:inner=${newline}${exception:format=ToString}}" />
    <target name="access-manager-ui" xsi:type="File" fileName="logs/access-manager-ui.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" concurrentWrites="true" layout="${longdate}|${level:uppercase=true:padding=5}|${logger}|${message}${onexception:inner=${newline}${exception:format=ToString}}" />
  </targets>
  <rules>
    <logger minlevel="Trace" writeTo="access-manager-jitworker" name="Lithnet.AccessManager.Server.Workers.JitGroupWorker" final="true"/>
    <logger minlevel="Trace" writeTo="access-manager-ui" name="Lithnet.AccessManager.Server.UI.*" final="true" />
    <logger minlevel="Trace" writeTo="access-manager-service" name="*" />
  </rules>
</nlog>