@{
    ViewBag.Title = "Error";
}

@model Lithnet.AccessManager.Web.Models.ErrorModel

<div class="form-container">
    <fieldset>
        <section>
            <b class="error">
                <i class="fas fa-exclamation-circle"></i> @Model.Heading
            </b>
        </section>
        <section>
            <p class="text-center">@Model.Message</p>
        </section>
    </fieldset>

    <footer>
        <div class="center-content">
            @using (Html.BeginForm("AccessRequest", "Computer", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">@UIMessages.ButtonNewRequest</button>
            }
        </div>
    </footer>
</div>