<html>
<head />
<body style="font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 14px">
    <table style="font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 14px; background: #fafafa; margin: 10px; border: #ccc 1px solid; border-radius: 3px; text-align: left">
        <tbody>
            <tr>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">{message}</td>
            </tr>
        </tbody>
    </table>

    <table style="font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 14px; background: #fafafa; margin: 10px; border: #ccc 1px solid; border-radius: 3px; text-align: left">
        <tbody>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    Date
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {datetime}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User SAM account name
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {user.SamAccountName}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User diplay name
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {user.DisplayName}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User DN
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {user.DistinguishedName}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User principal name
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {user.UserPrincipalName}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User SID
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {user.Sid}
                </td>
            </tr>

            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User IP
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {request.ResolvedIPAddress}
                </td>
            </tr>

            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User Hostname
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {request.HostName}
                </td>
            </tr>

            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    Requested computer name
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {requestedComputerName}
                </td>
            </tr>

            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    Computer SAM account name
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {computer.SamAccountName}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    Computer DN
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {computer.DistinguishedName}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    Matched rule
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {authzresult.MatchedRuleDescription}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    Matched principal
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {authzresult.MatchedAcePrincipal}
                </td>
            </tr>
            <tr>
                <th style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; text-align: left; background: #eaebec">
                    User-supplied request reason
                </th>
                <td style="padding: 1px; padding-left: 9px; padding-right: 9px; margin: 0px; background: #fafafa">
                    {requestedReason}
                </td>
            </tr>
        </tbody>
    </table><br>

</body>
</html>
