<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="lam-eventlog" xsi:type="EventLog" source="Lithnet Access Manager" log="Application" layout="${message}${newline}${exception:format=ToString}" eventId="${event-properties:EventID:whenEmpty=1}" />
    <target name="lam-file" xsi:type="File" fileName="logs/agent.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" concurrentWrites="true" layout="${longdate}|${level:uppercase=true:padding=5}|${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <logger minlevel="Info" writeTo="laps-eventlog" name="Lithnet.*" />
    <logger minlevel="Trace" writeTo="laps-file" name="*" />
  </rules>
</nlog>