@{
    ViewBag.Title = "403 Error";
}

<div class="form-container">
    <fieldset>
        <section>
            <b class="error">
                <i class="fas fa-exclamation-circle"></i>@UIMessages.Http403Heading
            </b>
        </section>
        <section>
            <p class="text-center">@UIMessages.Http403Message</p>
        </section>
    </fieldset>
</div>