@{
    ViewBag.Title = "Error";
}

@model Lithnet.AccessManager.Service.Models.NoPasswordModel

<div class="form-container">
    <div class="form-content-header">
        @UIMessages.HeadingPasswordDetails
    </div>
    <div class="form-content">

        <section>
            <label class="title">Computer</label>
            <p class="lead">@Model.ComputerName</p>
        </section>
        
        <div class="alert alert-warning">
            @Model.Message
        </div>

        <footer>
            @Html.ActionLink(UIMessages.ButtonNewRequest, "AccessRequest", "Computer", null, new { @class = "btn btn-outline-secondary" })
        </footer>
    </div>
</div>