<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="ama-file" xsi:type="File" fileName="/Library/Logs/Lithnet/AccessManagerAgent/LithnetAccessManagerAgent.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" concurrentWrites="true"  layout="${longdate}|${level:uppercase=true:padding=5}|${logger}|${message}${onexception:inner=${newline}${exception:format=ToString}}"  />
  </targets>
  <rules>
    <logger minlevel="Trace" writeTo="ama-file" name="*" />
  </rules>
</nlog>